///////////////////////////////////////////////
// SIDE PANEL
///////////////////////////////////////////////

.SidePanel--resizewrap {
  position: absolute !important;
  overflow: hidden;
  z-index: 1;

  .SidePanel {
    z-index: 1;
    position: relative;
    display: block;
    height: 100% !important;
    width: 100% !important;
    min-height: 100% !important;
    min-width: 100% !important;
    background: @global-panel-background;
  }

  &.SidePanel--resizewrap {
    &--left,
    &--right {
      top: 0;
      height: 100%;
    }
    &--left {
      left: 0;
      border-right: 1px solid @color-border;
      .mixin-transition(left @global-transition-dur @global-transition-easing);
    }
    &--right {
      right: 0;
      border-left: 1px solid @color-border;
      .mixin-transition(right @global-transition-dur @global-transition-easing);
    }
    &--top,
    &--bottom {
      left: 0;
      width: 100%;
    }
    &--top {
      top: 0;
      border-bottom: 1px solid @color-border;
      .mixin-shadow(0px 2px 18px fade(@color-black, 10%));
      .mixin-transition(top @global-transition-dur @global-transition-easing);
    }
    &--bottom {
      bottom: 0;
      border-top: 1px solid @color-border;
      .mixin-shadow(0px -2px 18px fade(@color-black, 10%));
      .mixin-transition(bottom @global-transition-dur @global-transition-easing);
    }
  }

}

.SidePanel--resizewrap--handle--wrapper {

  .SidePanel--resizewrap--handle {
    z-index: 2;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      display: block;
      background: @color-link;
      .mixin-transition(opacity @global-transition-dur @global-transition-easing);
      .mixin-opacity(0);
    }
    &.SidePanel--resizewrap--handle--resizing,
    &:hover {
      &:after {
        .mixin-opacity(1);
      }
    }
  }

  .SidePanel--resizewrap--handle {

    &-left,
    &-right,
    &-top,
    &-bottom {
      position: absolute;
      &:after {
        position: absolute;
      }
    }

    &--left,
    &--right {
      width: @global-padding / 3 !important;
      cursor: ew-resize !important;
      &:after {
        height: 100%;
        width: 1px;
      }
    }
    &--left {
      left: 0 !important;
      &:after {
        left: 0;
      }
    }
    &--right {
      right: 0 !important;
      &:after {
        right: 0;
      }
    }

    &--top,
    &--bottom {
      height: @global-padding / 3 !important;
      cursor: ns-resize !important;
      &:after {
        width: 100%;
        height: 1px;
      }
    }
    &--top {
      top: 0 !important;
      &:after {
        top: 0;
      }
    }
    &--bottom {
      bottom: 0 !important;
      &:after {
        top: initial;
        bottom: 0;
      }
    }

  }

}