///////////////////////////////////////////////
// TOP BAR
///////////////////////////////////////////////

.TopBar {
  @TopBar-bg: darken(@color-gray-darker, 3%);
  @TopBar-padding: 8px;
  height: @global-heading-height;
  background: @TopBar-bg;
  .TopBar--inner {
    & + .TopBar--inner {
      border-left: 1px solid @color-gray-darkest;
    }
  }
  .TopBar {
    &--Btn {
      position: relative;
      width: @global-heading-height;
      max-width: @global-heading-height;
      min-width: @global-heading-height;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      background: none;
      color: @color-white;
      display: block;
      cursor: default;
      .mixin-aspect-ratio(1, 1);
      .mixin-rounded(0);
      .content {
        &:before {
          @size: @global-heading-height - (@TopBar-padding * 2);
          display: block;
          content: '';
          position: absolute;
          width: @size;
          height: @size;
          .mixin-rounded(@global-border-radius);
        }
      }

      &:hover {
        .content {
          &:before {
            background: lighten(@TopBar-bg, 5%);
          }
        }
      }
      &:active {
        .content {
          &:before {
            background: darken(@TopBar-bg, 5%);
          }
        }
      }

      &.TopBar--Btn {
        &--draggable {
          cursor:  grab;
          &:hover {
            .content {
              &:before {
                border: 1px dashed lighten(@TopBar-bg, 15%);
              }
            }
          }
          &:active {
            cursor:  grabbing;
          }
        }
        &--active {
          color: @color-primary;
        }
        &--disabled,
        &--deactivated {
          .content {
            &:before {
              display: none;
            }
          }
          color: @color-white;
        }
        &--disabled {
          cursor: not-allowed;
          .mixin-opacity(0.3);
        }
      }

      & + .TopBar--Btn {
        margin-left: -@TopBar-padding;
      }
    }
  }
  .btn {
    height: @global-heading-height - (@TopBar-padding * 2);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    &.btn-block {
      padding: 0 !important;
    }
  }
}