///////////////////////////////////////////////
// TOP BAR
///////////////////////////////////////////////

.TopBar {
  @TopBar-bg: darken(@color-gray-darker, 3%);
  height: @global-heading-height;
  background: @TopBar-bg;
  .TopBar--inner {
    & + .TopBar--inner {
      border-left: 1px solid @color-gray-darkest;
    }
  }
  .TopBar {
    &--Btn {
      position: relative;
      width: @global-heading-height;
      max-width: @global-heading-height;
      min-width: @global-heading-height;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      background: none;
      color: @color-white;
      cursor: default;
      .mixin-aspect-ratio(1, 1);
      .mixin-rounded(0);
      .content {
        &:before {
          @btnPadding: 16px;
          display: block;
          content: '';
          position: absolute;
          width: @global-heading-height - @btnPadding;
          height: @global-heading-height - @btnPadding;
          .mixin-rounded(@global-border-radius);
        }
      }
      &:focus,
      &:hover {
        .content {
          &:before {
            background: lighten(@TopBar-bg, 5%);
          }
        }
      }
      &.TopBar {
        &--active {
          .content {
            &:before {
              background: darken(@TopBar-bg, 5%);
            }
          }
        }
      }
      &:active {
        .content {
          &:before {
            background: darken(@TopBar-bg, 5%);
          }
        }
      }
    }
  }
}