///////////////////////////////////////////////
// TOP BAR
///////////////////////////////////////////////

.TopBar {
  @TopBar-bg: darken(@color-gray-darker, 3%);
  @TopBar-padding: 8px;
  height: @global-heading-height; // controlled by js
  background: @TopBar-bg;
  .TopBar--inner {
    & + .TopBar--inner {
      border-left: 1px solid @color-gray-darkest;
    }
  }
  .TopBar {
    &--Btn {
      position: relative;
      min-width: @global-heading-height;
      height: @global-heading-height;
      max-height: @global-heading-height;
      min-height: @global-heading-height;
      border: none;
      outline: none;
      padding: @TopBar-padding;
      margin: 0;
      background: none;
      color: @color-white;
      justify-content: center;
      cursor: default;
      .mixin-rounded(0);
      .TopBar--Btn--Inner {
        position: relative;
        padding-left: @TopBar-padding;
        padding-right: @TopBar-padding;
        .TopBar--Btn--Icon {
          margin-top: 7px;
        }
        .TopBar--Btn--Caret {
          margin-top: 7px;
          margin-left: @TopBar-padding;
          color: @color-white !important;
          .mixin-opacity(0.6);
        }
      }
      &:before {
        @size: @global-heading-height - (@TopBar-padding * 2);
        display: block;
        content: '';
        position: absolute;
        width: @size;
        height: @size;
        .mixin-rounded(@global-border-radius);
      }

      &:hover {
        &:before {
          background: lighten(@TopBar-bg, 5%);
        }
      }
      &:active {
        &:before {
          background: darken(@TopBar-bg, 5%);
        }
      }

      &.TopBar--Btn {
        &--draggable {
          cursor:  grab;
          &:hover {
            &:before {
              border: 1px dashed lighten(@TopBar-bg, 15%);
            }
          }
          &:active {
            cursor:  grabbing;
          }
        }
        &--active {
          color: @color-primary;
        }
        &--selected {
          color: @color-primary;
          &:before {
            background: darken(@TopBar-bg, 6%);
          }
        }
        &--disabled,
        &--deactivated {
          &:before {
            display: none;
          }
          color: @color-white;
        }
        &--disabled {
          cursor: not-allowed;
          .mixin-opacity(0.3);
        }
        &--caret {
          justify-content: start;
          &:before {
            @size: @global-heading-height - (@TopBar-padding * 2);
            width: @size + 20;
          }
        }
      }

      & + .TopBar--Btn {
        margin-left: -@TopBar-padding;
      }
    }
  }
  .btn {
    height: @global-heading-height - (@TopBar-padding * 2);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    &.btn-block {
      padding: 0 !important;
    }
  }
}