///////////////////////////////////////////////
// COLLAGE
///////////////////////////////////////////////

.Collage {
  background: @main-stage-background;
  .Collage {
    &--ViewableArea {
      .mixin-transition(all 100ms ease-in-out);
    }
  }
}

.Collage {
  &--Artboard--Space {
    .Collage {
      &--Artboard {
        position: relative;
        background: @color-white;
        border: 1px solid lighten(@color-border, 2%);
      }
    }
  }
}

.Collage--Row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: 100%;
  .Collage--Col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .Collage--ImgWrap {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    .Collage--Img {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}

// @collageBorderWidth: 2px;
// .Collage {
//   .Collage--Row {
//     border: @collageBorderWidth solid red;
//     .Collage--Col {
//       border: @collageBorderWidth solid blue;
//     }
//     .Collage--ImgWrap {
//       border: @collageBorderWidth solid green;
//       .Collage--Img {
//         border: @collageBorderWidth solid orange;
//       }
//     }
//   }
// }