///////////////////////////////////////////////
// COLLAGE
///////////////////////////////////////////////

.Collage {
  background: @main-stage-background;
  .Collage {
    &--ViewableArea {
      .mixin-transition(all 100ms ease-in-out);
    }
  }
}

.Collage {
  &--Artboard--Space {
    .Collage {
      &--Artboard {
        position: relative;
        background: @color-white;
        border: 1px solid lighten(@color-border, 2%);
      }
    }
  }
}

.Collage--ImgWrap {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  .Collage--Img {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.Collage--Col {
  position: relative;
  display: block;
  overflow: hidden;
}

.Collage--Row {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: 100%;
  overflow: hidden;
}