///////////////////////////////////////////////
// POST STAGE
///////////////////////////////////////////////

.PostBuilder {
  .PostBuilder--inner {
    padding: 5em 3em;
    .PostBuilder--Stage {
      width: 100%;
      max-width: 900px;
      min-height: 1500px;
      background: @color-white;
      .mixin-rounded(@global-border-radius);
    }
  }
}